body{
  font-family: sans-serif;
  font-size:110%;
  background-color:  #b38a92;
  border:coral ;
}

header {
  width: 50px;
  height: ;
  text-align: center;
  background-color: #473538;
  position: static;
}

footer {
  border: tomato solid;
  background-color: #2416ec;
  text-align: center;
}

#education {
  background-color: :  
}

.list {
  list-style-type: style none;
}

{
  background-color: #919191;
  text-align: center;
}

#heading {
  width: 5%;
  height: 8%;
  margin: 100px;
  outline: 20%;color: black; 
  border: border-end-end-radius: 50%; solid 10px;
}

#nav{
  width: 30%;
  background-color: blueviolet;
  color: black;
  margin left: 100px;
  padding: button 20px;
  border: black solid
}

.icons{
  width: 100px;rem;
  height: auto;
  margin:1rem;

}
body {
  background-color: rgb(219, 204, 218);
  border: rgb(68, 2, 15) solid ;
  padding: 40px;
  margin-top: 30px;
  ;

}
#main { 
  width: 30;
  height: fit-content;
  border: 10px solid blue;
  background-color: khaki;

}
#heading{
  width: 100rem;
  font-family: arial bold;
  background-color: rgb(208, 78, 235);
  color: #290e07;
  margin:50px; ;
  
}
#headshot{
  padding: 30px;
  width: 15%;
  height: 15%;
  border: rgb(14, 18, 230) solid;
  border-style: solid;
  border-width: 3;
  border-left-width:  101px;
  border-right-width: 10px ;
  border-radius: 80%;
  margin: 1rem;
}

h2{
  ;
 
}

