body{
  font-family: sans-serif;
  font-size:110%;
  text-align: center;
  background-color: rgb(219, 204, 218);
  border: rgb(68, 2, 15) solid ;
  padding: 40px;
  margin-top: 5px;
  border-width: 0.5cm;

}

head{
  width: 5%;
  height: 300%;
  text-align: center;
  background-color: #2289e9;
  position: static;
  margin-top: 5px;
  padding:20%;
  border: 5px; 
}

#heading{
  width: %;
  height: 20;
  border-style: solid;
  border-width: 3px;
  font-family: arial bold;
  border-color: #f83d0f;
  margin-top: 20px;
  position: static;
  display :
}

img{
  height: 1%;
  border:  solid 10px;
  border-style: solid;
  border-width: 3px;
  border-top-width: 10px;
  border-left-width:  10px;
  border-right-width: 10px;
  border-bottom-width:  10px; ;
  border-radius: 50%;
  font-family: arial bold;
  border-color: #057031;
  margin-top: 20px;
  border-radius: 1000px 1000px 1000px 1000px;
}

#main{ 
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: 10px solid rgb(95, 104, 17);
  position:static;
  margin: left 1rem;;
  padding:1rem;
  
}

#nav{
  width: 10%;
  height: 50%;
  background-color: blueviolet;
  color: black;
  margin:1mm;
  padding: 100px;
  border: 5px solid  black;
  position: relative;
  left: 10px;
  margin-left: 10%;
  text-align: center;
 
}

.list {
  list-style-type: style none;
}

footer {

  border: tomato solid;
  background-color: #2416ec;
  text-align: center;

}

.icons{
  width: 3rem;
  height: auto;
  margin:2.5%;
  display:justify contents;
}



 

